header {
  background-color: #a375ee;
  padding: 5px;
  border: 1px dotted #a375ee;
}

body {
  margin: 10px;
}

main ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

}

main {

}

footer {
  background-color: #a375ee;
  padding: 5px;
  border: 1px dotted #a375ee;
}