body {
  margin: 10px;
  font-family: helvetica;
}

header {
  background-color: #a375ee;
  padding: 5px;
  border: 1px dotted #a375ee;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #a375ee;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #2905d3;
}

li a:hover:not(.active) {
    background-color: #5618eb;
}

.active {
    background-color: #5011ea;
  }

footer {
  background-color: #a375ee;
  color: white;
  text-align: center;
}

section#schedule {
  display: inline-block;
  width: 300px;
  padding: 2px 5px;
  border: 1px solid #a375ee;
}

section#services {
  display: inline-block;
  vertical-align: top;
  width: 300px;
  padding: 2px 5px;
  border: 1px solid #a375ee;

}
